<!-- Footer -->
<footer id="footer">
  <div class="inner" style="text-align: center">
    <ul class="icons">
      {%- for social in site.social_urls -%}
        <li>
          <a
            href="{{ social[1] }}"
            class="icon alt fa fa-{{ social[0] }}"
            title="{{ social[0] | capitalize }}"></a>
        </li>
      {%- endfor -%}
      <li>
        <a
          class="icon alt fa fa-feed"
          href="/feed.xml"
          title="RSS Feed"></a>
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy;
        {{ site.title }}</li>
      <li>
        Original Design:
        <a href="https://html5up.net/forty">HTML5 UP</a>
      </li>
    </ul>
  </div>
</footer>
<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/extra.js"></script>
<script defer src="https://kit.fontawesome.com/9f02ede189.js"></script>
<script src="/assets/js/prism.js"></script>
{%- include new-window-fix.liquid -%}