<!-- select all posts that are not projects -->
{%- assign posts = site.posts | where_exp: "post", "post.project != true" | reverse -%}
{% assign current = include.post %}

{% for post in posts %}
  {% if post == current %}
    {%- assign currIndex = forloop.index0 -%}
    {%- assign prevIndex = currIndex | minus: 1 -%}
    {%- assign nextIndex = currIndex | plus: 1 -%}
    <!-- check if there is a previous post -->
    {% if prevIndex != -1 %}
      <a class="button" href="{{ posts[prevIndex].url }}">
        &laquo; Previous Post
      </a>
    {% endif %}

    <!-- check if there is a next post -->
    {% if forloop.last == false %}
      <a
        style="float: right"
        class="button"
        href="{{ posts[nextIndex].url }}">
        Next Post &raquo;
      </a>
    {% endif %}
    {% break %}
  {% endif %}
{% endfor %}