<div class="post-tags">
  <span>
    {% for tag in page.tags %} {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}" class="icon">
      <code
        ><div class="icon fa fa-tag fa-xs"></div>
        <nobr>{{ tag_name }}</nobr></code
      ></a
    >
    {% endfor %}
  </span>
</div>
