{% assign ps = site.posts | where: 'project', 'false' | where_exp:"post","post.url != page.url" %}
<section class="tiles" id="one">
    {% for post in ps limit: site.tiles-count %}
    <article>
        <span class="image">
            <img src="{{ post.image }}" alt="{{ post.title }}" />
        </span>
        <header class="major">
            <h3>
                <a href="{{ post.url | relative_url }}" class="link">{{ post.title }}</a>
            </h3>
            <p>{{ post.description }}</p>
        </header>
    </article>
    {% endfor %}
</section>
