<div class="flex-wrapper">
  {%- for skill in site.skills -%}
  <div class="single-chart">
    <svg class="circular-chart" viewbox="0 0 38 38">
      <path
        class="circle-bg"
        d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <path
        class="circle"
        d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
        stroke-dasharray="{{ skill[1] }}, 100"
      />
      <text class="percentage" x="18" y="20.35">{{ skill[1] }}%</text>
    </svg>
    <p class="skill-label">{{ skill[0] }}</p>
  </div>

  {%- endfor -%}
</div>
