<ul class="icons">
  <li>
    <a
      onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"
      href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fblacksuan19.me&quote="
      class="icon alt fa fa-facebook"
      target="_blank"
    >
      <span class="label">Share on facebook</span>
    </a>
  </li>
  <li>
    <a
      onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"
      href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fblacksuan19.me&text=:%20http%3A%2F%2Fblacksuan19.me"
      class="icon alt fa fa-twitter"
      target="_blank"
    >
      <span class="label">Tweet</span>
    </a>
  </li>
  <li>
    <a
      onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"
      href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fblacksuan19.me&description="
      class="icon alt fa fa-pinterest"
      target="_blank"
    >
      <span class="label">Pin it</span>
    </a>
  </li>
  <li>
    <a
      onclick="window.open('https://getpocket.com/save?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"
      href="https://getpocket.com/save?url=http%3A%2F%2Fblacksuan19.me&title="
      class="icon alt fa fa-get-pocket"
      target="_blank"
    >
      <span class="label">Save to Pocket</span>
    </a>
  </li>
  <li>
    <a
      onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"
      href="mailto:?subject=&body=:%20http%3A%2F%2Fblacksuan19.me"
      class="icon alt fa fa-envelope"
      target="_blank"
    >
      <span class="label">Mail to</span>
    </a>
  </li>
</ul>
