{%- assign share_url = page.url | replace:'index.html','' | absolute_url -%}
{%- assign share_title = page.title | default: site.title -%}

<div
  class="post-share"
  data-share
  data-share-url="{{ share_url | escape }}"
  data-share-title="{{ share_title | escape }}">
  <button type="button" class="button small post-share__button" data-share-trigger hidden>
    Share
  </button>
</div>