<h2>Archive</h2>
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
          <div class="icon fa fa-tag fa-xs"></div>
          <a href="/tag/{{ tagname }}" class="icon" style="font-size: 1em"><code><nobr>{{ tagname }}</nobr></code>&nbsp;</a>
{% endfor %}
