.flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.single-chart {
  width: 25%;
  justify-content: center;
}

.github {
  float: right;
  padding-top: 20px;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #0f111a;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 3s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4cc790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  text-transform: uppercase;
  fill: #ffffffb2;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 0.16em;
  text-anchor: middle;
}

.extra {
  margin: auto;
  display: flex;
  padding: 20px 0px 20px 0px;
  justify-content: center;
}

.read-time {
  text-align: right;
  margin-top: 100px;
  padding-right: 20px;
}
@media only screen and (max-width: 850px) {
  .read-time {
    margin-top: -60px;
  }
}
@media only screen and (max-width: 600px) {
  .read-time {
    margin-top: -20px;
    text-align: left;
  }
  .social-icons {
    margin-top: -10px;
  }
  .single-chart {
    width: 33%;
  }

  .github {
    float: none;
    padding-top: 20px;
  }
  .fork {
    margin-top: 20px;
    min-width: 310px;
  }
  .button {
    width: 310px;
  }
}
